@model MechanicApp.Models.Job

@{
    ViewBag.title = "Zlecenie";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Job.css" type="text/css" />
    <title></title>
    <script>
        function toggleDefect(obj, id) {
            data = { jobId: @Model.Id, defectId: id };
            $.ajax({
                url: '@Url.Action("ToggleDefect", "Home")',
                data: data,
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if (data.result * 1) {
                        if (data.currentState * 1) {
                            obj.style.backgroundColor = "green"
                        }
                        else {
                            obj.style.backgroundColor = "red"
                        }
                    }
                    else {
                        showToast("Wystąpił błąd przy zmianie danych");
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div class="title">
        <div class="job_button"><a onclick="location.href = '@Url.Action("/", "Home")'">Cofnij</a></div>
        <div class="job_button"><a onclick="location.href = '@Url.Action("ManageJob", "Home", new {jobId=Model.Id})'">Edytuj</a></div>
        <!--<button class="previous btn-primary btn-lg" onclick="location.href = '@Url.Action("Register","Home")'">Cofnij</button><br />-->
        <h2>Id naprawy: @Html.DisplayFor(model => model.Id)</h2>
    </div>
    <div class="text_normal">
        <div>
            <table class="repair_table table">
                <tr><td>Data przyjęcia</td><td>@Html.DisplayFor(model => model.Date)</td></tr>
                <tr><td>Marka</td><td>@Html.DisplayFor(model => model.CarManufacturer)</td></tr>
                <tr><td>Model</td><td>@Html.DisplayFor(model => model.CarModel)</td></tr>
                <tr><td>Nazwa klienta</td><td>@Html.DisplayFor(model => model.ClientName)</td></tr>
                <tr><td>Telefon klienta</td><td>@Html.DisplayFor(model => model.ClientPhoneNumber)</td></tr>
            </table>
        </div>
        Uszkodzenia:<br />
        <table>
        @for (int i = 0; i < Model.Defects.Count; i++)
        {
            string color = Model.Defects[i].IsFinished ? "green" : "red";
            <tr><td>@Model.Defects[i].Name</td><td><div class="circle" onclick="toggleDefect(this, @Model.Defects[i].Id)" style='background-color: @color;'></div></td></tr>
        }
        </table>
</div>
</body>
</html>


