@model MechanicApp.Models.Job

@{
    bool edit;
    if (Model != null) {
        edit = !string.IsNullOrWhiteSpace(Model.CarManufacturer);
    } else {
        edit = false;
    }
    ViewBag.title = edit ? "Edytuj zlecenie" : "Dodaj zlecenie";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/ManageJob.css" type="text/css" />
    <script>
        let buttonLock = false;

        function addRow() {
            if (!buttonLock) {
                let table = document.getElementById("defects_table");
                let row = table.insertRow(table.rows.length);
                let column = row.insertCell(0);
                column.innerHTML = "<input type=\"text\" class=\"defect\" /><div class=\"delete_defect\" onclick=\"deleteRow(this)\"><div class=\"delete_defect_text\"><span>X</span></div></div>";
            }
        }
        function deleteRow(row) {
            if (!buttonLock) {
                let parentNode = row.parentNode.parentNode;
                let indexToDelete = parentNode.rowIndex;
                document.getElementById("defects_table").deleteRow(indexToDelete);
            }
        }
        function manageJob(jobId) {
            if (!buttonLock) {
                buttonLock = true;
                setLoaderVisivility(true);
                let defectsHTML = document.getElementsByClassName("defect");
                let defects = [];
                for (let i = 0; i < defectsHTML.length; i++) {
                    defects.push(defectsHTML[i].value);
                }
                let job = {
                    "CarManufacturer": document.getElementById("manufacturer").value,
                    "CarModel": document.getElementById("model").value,
                    "ClientName": document.getElementById("client").value,
                    "ClientPhoneNumber": document.getElementById("phone").value,
                    "Defects": defects
                };
                let link;
                if (jobId != null) {
                    job["Id"] = jobId;
                    link = '@Url.Action("EditJob", "Home")';
                } else {
                    link = '@Url.Action("AddJob", "Home")';
                }
                alert(defects);
                alert(link);
                $.ajax({
                    url: link,
                    data: { jobString: JSON.stringify(job) },
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        let result = data.success * 1;
                        if (result) {
                            window.location.href = '@Url.Action("List", "Home")';
                        } else {
                            showToast("Błąd wprowadzania danych");
                        }
                    },
                    error: function (ex) {
                        showToast("error");
                    },
                    complete: function () {
                        setLoaderVisivility(false);
                        buttonLock = false;
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="wrapper">
        <div id="banner">
            @{
                if (edit) {
                    <p id="banner_title">Edytuj zlecenie</p>
                } else {
                    <p id="banner_title">Dodaj zlecenie</p>
                }
            }
        </div>
        <div id="job">
            <div class="job_element">
                <p class="label">Marka samochodu</p>
                @{
                    if (edit) {
                        <input type="text" id="manufacturer" value="@Model.CarManufacturer" />
                    } else {
                        <input type="text" id="manufacturer" />
                    }
                }
            </div>
            <div class="job_element">
                <p class="label">Model samochodu</p>
                @{
                    if (edit) {
                        <input type="text" id="model" value="@Model.CarModel" />
                    } else {
                        <input type="text" id="model" />
                    }
                }
            </div><br><br>
            <div class="job_element">
                <p class="label">Nazwa klienta</p>
                @{
                    if (edit) {
                        <input type="text" id="client" value="@Model.ClientName" />
                    } else {
                        <input type="text" id="client" />
                    }
                }
            </div>
            <div class="job_element">
                <p class="label">Numer kontaktowy</p>
                @{
                    if (edit) {
                        <input type="tel" id="phone" value="@Model.ClientPhoneNumber" />
                    } else {
                        <input type="tel" id="phone" />
                    }
                }
            </div><br><br>
            <div class="job_element" id="defects">
                <p class="label">Defekty</p>
                <table id="defects_table">
                    @{
                        if (edit) {
                            foreach (var defect in Model.Defects) {
                                <tr>
                                    <td>
                                        <input type="text" class="defect" value="@defect.Name" />
                                        <div class="delete_defect" onclick="deleteRow(this)"><div class="delete_defect_text"><span>X</span></div></div>
                                    </td>
                                </tr>
                            }
                        } else {
                            <tr>
                                <td>
                                    <input type="text" class="defect" />
                                    <div class="delete_defect" onclick="deleteRow(this)"><div class="delete_defect_text"><span>X</span></div></div>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div><br>
            <div id="add_defect" onclick="addRow()"><span>Dodaj defekt</span></div>
        </div><br><br>
        @{
            if (edit) {
                <div class="submit" onclick="manageJob(@Model.Id)"><span>Edytuj</span></div>
            } else {
                <div class="submit" onclick="manageJob(null)"><span>Dodaj</span></div>
            }
        }
    </div>
</body>
</html>
